project = "your-project-id"
region  = "asia-southeast1"
zone    = "asia-southeast1-c"

vm_name     = "k8s"
environment = "dev"

master_machine_type = "e2-standard-2"
worker_machine_type = "e2-standard-2"

master_disk_size = 30
worker_disk_size = 50

worker_count = 1

source_ranges = ["0.0.0.0/0"]
allowed_ports = ["22", "80", "443", "6443"]

repo_url = "https://github.com/your/repo.git"

ssh_user         = "ubuntu"
public_key_path  = "~/.ssh/id_ed25519.pub"
private_key_path = "~/.ssh/id_ed25519"